body {
    font-family: 'Exo', sans-serif;
}


/*------------------------------------------------------------------- Special Paddings/Margins/Text*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-weight: 300;
    color: #fafafa;
}



/* ------------------------------------------------------------------- Nav */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    z-index: 1;
    background-color: transparent;
}


.nav li,
a {
    font-size: 20px;
    padding: 20px;
    color: #d6d199 !important;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar .navbar-brand:hover {
    color: #f3df05 !important;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #f3df05 !important;
    background: transparent;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f3df05 !important;
}



/* ------------------------------------------------------------------- Image Container */

.image-container {
    height: 900px;
    background: url("assets/images/about2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    background-position: top;
    justify-content: center;
    background-size: 100% 900px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.divider--black {
    background-color: #444;
    width: 35px;
}

.jumbotron {
    background-color: transparent;
    margin-top: 300px;
}

.jumbotron h1 {
    color: #f3df05;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #f3df05;
    margin: 25px 0;
    font-size: 25px;
    letter-spacing: 2px;
}





/* ------------------------------------------------------------------- Index Player */

.player {
    text-align: center;
    background-color: #908403;
    color: #444;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

.index-audio {
    margin-top: 15px;
    width: 80%;
}


/* ------------------------------------------------------------------- Index News */

.container--red {
    background-color: #8c1326;
    text-align: center;
    padding-bottom: 50px;
}

.container--red p {
    padding: 10px;
}

.btn--red {
    border-radius: 23px;
    width: 160px;
    background-color: #d6d199;
    color: #8c1326 !important;
    font-weight: bold;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}


/* Modal Content */
.content {
  background-color: #808080;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.modal-content {
    background-color: #8e2c2c;
    margin: auto;
    width: 50%;
}
.modal-content h3 {
    font-size: 16px;
}

/* ------------------------------------------------------------------- Index Events */

.container--blue {
    background-color: #3d87a2;
    text-align: center;
    padding-bottom: 50px;
}

.container--blue p {
    padding: 10px;
    font-size: 16px;
}

.btn--blue {
    border-radius: 23px;
    width: 160px;
    background-color: #d6d199;
    color: #3d87a2 !important;
    font-weight: bold;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #50c9f5;
    border-color: #df4929;
}




/* ------------------------------------------------------------------- About SLIDER*/

.fill {
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    color: #d6d199;
}

.fill h2, p {
    color: #d6d199;
}

.fill p {
    font-size: 20px;
}




/* ------------------------------------------------------------------- Audio & Video*/

.playlist-container {
    background: url("assets/images/red.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-size: 100% 1000;
    color: #d6d199;
}

.features-container {
    margin-top: 110px;
    text-align: center;
    position: relative;
    
}

.spotify {
    display:inline;
}

.spotify iframe {
    padding: 10px;
}

.video-container {
    background: url("assets/images/red.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-size: 100%, 500px;
    padding-bottom: 50px;
}


.block-divider--white {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fafafa;
    width: 35px;
}


.video-container {
    text-align: center;
    color: #d6d199;
    justify-content: center;
}

.spotify p {
    font-size: 18px;
    color: #f3df05;
    font-weight: bold;
}

.album a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #636363;
    margin: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.album a i:hover {
    background: #f3df05;
    color: #808080;
}

.media-body iframe {
    width: 420px;
    height: 315px;
}




/* ------------------------------------------------------------------- Contact */

.contact-container {
    background: url("assets/images/peace.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
}

.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #d6d199;
    text-align: center;
    position: relative;
    top: 50px;
}

.contact-heading p {
    font-size: 20px;
    text-align: center;
}

.center-form {
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 35px;
}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #8c1326;
    color: #d6d199;
}

.form-control {
    margin-bottom: 5px;
}



/* ------------------------------------------------------------------- Footer */

footer {
    background-color: #808080;
    color: #fafafa;
    margin: 0;
    font-weight: bold;
    padding: 0px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #636363;
    margin: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #f3df05;
    color: #808080;
}

.footer-details {
    margin: 20px;
    color: #f3df05;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.general-sub {
    font-weight: 300;
    color: #fafafa;
}





/* ------------------------------------------------------------------- Media */

@media (max-width: 1024px) {
    .image-container {
        background-image: url(assets/images/the-monkees-1966.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 500px;
    }

    .nav li, a {
        color: #f3df05 !important;
    }
    
    .playlist-container {
        background-image: url(assets/images/guitar.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .video-container {
        background-image: url(assets/images/guitar.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .media-body iframe {
    width: 340px;
    height: 225px;
    padding-bottom: 15px;
    }
    
    .contact-container {
    background: url("assets/images/faces.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .modal-content {
    background-color: #8e2c2c;
    margin: auto;
    width: 80%;
    }

}
